@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them! 
*/

.main {
	width: 100vw;
	min-height: 100vh;
	position: fixed;
	display: flex;
	justify-content: center;
	padding: 120px 24px 160px 24px;
	pointer-events: none;
}

.main:before {
	background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%);
	position: absolute;
	content: "";
	z-index: 2;
	width: 100%;
	height: 100%;
	top: 0;
}

.main:after {
	content: "";
	background-image: url("/assets/images/grid.svg");
	z-index: 1;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	opacity: 0.4;
	filter: invert(1);
}

/* Gradient */

html,
body {
	margin: 0;
	--color-a: #f37335;
	--color-b: #fffcdc;
	--color-c: #fd746c;
}

.gradient {
	height: fit-content;
	z-index: 3;
	width: 100%;
	aspect-ratio: 9/16;
	border-radius: 12px;
	transition: 500ms ease-in;
	transition-property: --color-a, --color-b, --color-c;
	background: linear-gradient(
		45deg,
		var(--color-a),
		var(--color-b),
		var(--color-c)
	);
	position: absolute;
	color: white;
	filter: blur(100px) saturate(150%);
	top: 80px;
	opacity: 1;
}

.gradient::before {
	content: "";
	position: absolute;
	background: linear-gradient(45deg, var(--color-a), var(--color-b));
	filter: blur(50px) brightness(1.5);
	left: 10%;
	top: 5%;
	width: 85%;
	height: 70%;
	border-radius: 25px;
	animation: blob 7s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
	transform-origin: 60%;
}

.gradient::after {
	content: "";
	position: absolute;
	background: linear-gradient(45deg, var(--color-a), var(--color-b));
	filter: blur(50px) brightness(2.5);
	left: 65%;
	top: 35%;
	width: 65%;
	height: 70%;
	border-radius: 25px;
	animation: blob 9s infinite cubic-bezier(0.215, 0.61, 0.355, 1) reverse;
	transform-origin: 30%;
}

@keyframes blob {
	0% {
		translate: 0 0;
		rotate: 0deg;
	}
	30% {
		rotate: 65deg;
	}
	50% {
		transform: translate(290px, 420px) scale(1.25);
	}
	80% {
		rotate: 90%;
	}
}

@property --color-a {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --color-b {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --color-c {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@media screen and (max-width: 640px) {
	.main {
		padding: 0;
	}
}

/* Tailwind Styles */

.app {
	@apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
}

.black_btn {
	@apply rounded-full border border-black bg-black py-1.5 px-5 text-white transition-all hover:border-gray-500 hover:bg-gray-500 hover:text-white text-center text-sm font-sans flex items-center justify-center;
}

.outline_btn {
	@apply rounded-full border border-black bg-transparent py-1.5 px-5 text-black transition-all hover:bg-black hover:text-white text-center text-sm font-sans flex items-center justify-center;
}

.gray_btn {
	@apply rounded-full bg-transparent py-1.5 px-3 text-gray-500 transition-all hover:text-black text-center text-sm font-sans flex items-center justify-center;
}

.glass_btn {
	@apply rounded-full flex items-center justify-center bg-gradient-to-r from-yellow-400 to-red-400 px-6 py-4 text-white transition-all hover:text-gray-500 sm:text-xl text-base;
}

.head_text {
	@apply mt-5 text-5xl font-extrabold leading-[1.25] text-gray-700 sm:text-7xl;
}

.orange_gradient {
	@apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}

.blue_gradient {
	@apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
}

.desc {
	@apply mt-7 text-xl text-gray-600 sm:text-2xl max-w-4xl;
}

.desc,
.head_text,
.glass_btn {
	animation: fade_in_vert 1000ms 0s ease;
}

@keyframes fade_in_vert {
	0% {
		opacity: 0;
		transform: translateY(-25px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.search_input {
	@apply block w-full rounded-md border border-gray-200 bg-white py-2.5 font-sans pl-5 pr-12 text-sm shadow-lg font-medium focus:border-black focus:outline-none focus:ring-0;
}

.copy_btn {
	@apply w-7 h-7 rounded-full bg-white/10 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur flex justify-center items-center cursor-pointer;
}

.glassmorphism {
	@apply rounded-xl border border-gray-200 bg-white/20 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-5;
}

.prompt_layout {
	@apply space-y-6 py-8 sm:columns-2 sm:gap-6 xl:columns-3;
}

/* Hero Component */
.hero {
	@apply mt-12 mx-auto w-full max-w-5xl flex justify-center items-center flex-col gap-2;
}

.pink_sun {
	@apply absolute top-96 right-8 w-60 h-60 bg-pink-300 rounded-full mix-blend-multiply filter blur-xl opacity-30;
}

.yellow_sun {
	@apply absolute top-96 right-0.5 w-96 h-96 bg-yellow-300 rounded-full mix-blend-multiply filter blur-xl opacity-50 animation-delay-4000;
}

.pink_sun,
.yellow_sun {
	animation: sun 7s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

@keyframes sun {
	0% {
		transform: translate(0, 0) scale(1);
		rotate: 0deg;
	}
	33% {
		transform: translate(150px, 150px) scale(1.1);
		rotate: 65deg;
	}
	66% {
		transform: translate(360px, 360px) scale(0.9);
	}
	100% {
		transform: translate(0, 0) scale(1);
		rotate: 90deg;
	}
}

@layer utilities {
	.animation-delay-2000 {
		animation-delay: 2s;
	}
	.animation-delay-4000 {
		animation-delay: 4s;
	}
}

.pyramid {
	border-left: 200px solid transparent;
	border-right: 200px solid transparent;
	border-bottom: 300px solid rgba(218, 172, 117, 0.87);
	mix-blend-mode: multiply;
	opacity: 0.65;
	filter: blur(1rem);
	animation-delay: 2s;
	animation: pyramid 7s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

@keyframes pyramid {
	0% {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(-150px, 150px);
	}
	100% {
		transform: translate(0, 0);
	}
}

/* Feed Component */
.feed {
	@apply mt-16 mx-auto w-full max-w-xl flex justify-center items-center flex-col gap-2;
}

/* Footer Component */
.footer {
	width: 80vw;
	height: 100vh;
}

.footer_line_github {
	@apply rounded-full h-[10px] w-[10px] opacity-20 transform origin-left bg-[#0b0500] absolute left-40 bottom-14;
}

.footer_line_linkedin {
	@apply rounded-full h-[10px] w-[10px] opacity-20 transform origin-left bg-[#0b0500] absolute left-40 bottom-2;
}

.orange_sun {
	@apply absolute top-32 left-20 w-72 h-72 bg-[#e98e33] rounded-full mix-blend-multiply filter blur-lg opacity-100;
}

.red_sun {
	@apply absolute top-48 left-28 w-72 h-72 bg-[#fe330a] rounded-full mix-blend-multiply filter blur-lg opacity-80 animation-delay-4000;
}

.orange_sun {
	animation: redwrap 15s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

@keyframes redwrap {
	0% {
		transform: translate(0, 0);
	}
	30% {
		transform: translate(40px, -40px);
		rotate: 45deg;
	}
	50% {
		transform: translate(80px, 40px);
		rotate: 90deg;
	}
	80% {
		transform: translate(0, 0);
	}
}

/* Form Component */
.form_textarea {
	@apply w-full flex rounded-lg h-[200px] mt-2 p-3 text-sm text-gray-500 outline-0;
}

.form_input {
	@apply w-full flex rounded-lg mt-2 p-3 text-sm text-gray-500 outline-0;
}

/* Nav Component */
.logo_text {
	@apply max-sm:hidden font-sans font-semibold text-xl text-gray-600 tracking-wide;
}

.dropdown {
	@apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-white min-w-[210px] flex flex-col gap-2 justify-center items-center;
}

.dropdown_link {
	@apply text-sm font-sans text-gray-700 hover:text-gray-500 font-medium;
}

/* PromptCard Component */
.prompt_card {
	@apply flex-1 break-inside-avoid rounded-lg border border-gray-300 bg-white/20 bg-clip-padding p-6 pb-4 backdrop-blur-lg backdrop-filter md:w-[360px] w-full h-fit;
}

.flex-center {
	@apply flex justify-center items-center;
}

.flex-start {
	@apply flex justify-start items-start;
}

.flex-end {
	@apply flex justify-end items-center;
}

.flex-between {
	@apply flex justify-between items-center;
}
